<h1>U P L I F T</h1>

<p>Submit something that Uplifts you to the Uplift Database! It can be a quote, piece of text or a web link. Entries are randomly picked to be served to other users looking to be uplifted</p>

<form action="/entry_upload" method="post">
	<label for="user_id">User ID</label>
	<input id="user_id" name="user_id" type="text">
	<label for="submission">Submission</label>
	<input id="submission" name="submission" type="text">
	<button type="submit">Submit</button>
</form>
